@{
    ViewBag.Title = "Home Page";
}

<main>
    
    <div>
        <form action="/Product/Customer" method="post">
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type="text" placeholder="Enter your username" value="username" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" placeholder="Enter your password" value="password" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit"  class="btn btn-success" value="Submit"/>
                    </td>
                   
                </tr>

            </table>

        </form>
    </div>
</main>